# Core functionality - changes here should be rare!
/src/app.py                   @BilelBensaad2
/src/backend/database.py      @BilelBensaad2
/src/backend/routers/auth.py  @BilelBensaad2

# The frontend will need refactored soon to be more object oriented.
/src/static/   @BilelBensaad2
